/* Header Image */
#headerID{
    background: url("../imgs/Gallery-Hero.jpg") no-repeat center;
    width: 100%;
    height: 95vh;
    background-size: cover;
}

/* Header image would change size in diffeerent screen size */
@media(max-width: 768px) {
    #headerID {
        height: 90vh;
    }
}

/* Header Content positioning */
#HeaderContent{
    position: relative;
    top: 35%;
}

/* Main Content styling */
.main-content{
    width: 90vw;
    margin: 1rem auto;
}

/* Column padding and img alignment */
.col-6:has(.gallery-item){
    padding: 0 1rem;
    text-align: center;
}

/* Gallery items margin and styling */
.gallery-item{
    width: 100%;
    border-radius: 50px;
    margin: 1rem auto;
    transition: transform 0.125s ease-in-out;
}

/* Images effect on hover */
.gallery-item:hover{
    transform: scale(1.05);
}