/* Font for whole page */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Header Image */
#headerID {
    background: url("../imgs/hiker-going-up-aiguille-du-midi.jpg") no-repeat bottom;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

/* Header image would change size in diffeerent screen size */
@media(max-width: 768px) {
    #headerID {
        height: 45vh;
    }
}

/* Transparent navbar normal */
.navbar {
    background-color: rgba(255, 255, 255, 0.01);
}

/* Navbar animation on scroll */
@keyframes navScroll {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1)
    }
}

/* Navbar scrolled variation */
.navbar.scrolldown {
    width: 90%;
    background: rgba(176, 176, 255, 0.25);
    animation-name: navScroll;
    animation-duration: 0.1s;
    transition: animation-name ease-in-out 0.1s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
    overflow: hidden;
}

.navbar.scrolldown::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.navbar.scrolldown::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

/* Header Text styling */
#HeaderContent{
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    color: rgb(255, 255, 255);
}

#HeaderContent h1{
    font-size: 80px;
    font-weight: bold;
}

#HeaderContent p{
    font-size: 32px;
}

/* Header text position and styling in small screen */
@media(max-width: 768px){
    #HeaderContent{
        top: 15%
    }
    #HeaderContent h1{
        font-size: 64px;
    }
    #HeaderContent p{
        font-size: 18px;
    }
}



/* Footer Styling */
#footerTag {
    background-color: #1b2840;
    height: 300px;
}