.Cards {
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #cacaca,
        -10px -10px 20px #f6f6f6;
    height: fit-content;
    font-size: 18px;
    animation: scrollAnim linear;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

    .img-fluid {
        border-radius: 40px;
    }

    .Card-heading {
        font-size: xx-large;
        font-weight: 700;
    }
}

@keyframes scrollAnim {
    from{
        opacity: 0;
        scale: 0;
        transform: translateY(200px)
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

@media(min-width: 768px) {
    .card-row1 {
        height: 40%;
    }

    .card-row2 {
        height: 60%;
    }
}

@media(max-width: 768px) {
    .card-row1 {
        height: 35%;
    }

    .card-row2 {
        height: 65%;
    }
}