/* Header Image */
#headerID{
    position: relative;
    background: url("../imgs/News-Hero.jpg") no-repeat bottom;
    width: 100%;
    height: 90vh;
    background-size: cover;
}

#HeaderContent{
    position: relative;
    top: 30%;
}

/* Header image would change size in diffeerent screen size */
@media(max-width: 768px) {
    #headerID {
        height: 90vh;
    }
}



/* Cards styling */
.Cards {
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #cacaca,
        -10px -10px 20px #f6f6f6;
    height: 95%;
    font-size: 18px;
}

/* div containing main content */
.main-content{
    width: 90vw;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

/* margin top-bottom for columns containing Cards */
.col-12:has(.Cards){
    margin: 1rem 0;
}

/* Card Heading Styling */
.card-heading{
    color: #222222;
    font-weight: 600;
}

/* Card Content Styling */
.card-content{
    color: #272727;
}

/* Card Date Styling */
.card-date{
    border-top: #4e4e4e 1px dotted;
    padding-top: 5px;
    color: #4e4e4e;
    text-align: end;
}
