/* Header Image */
#headerID{
    background: url("../imgs/Sheltering-Hero.jpg") no-repeat center;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

/* Header image would change size in diffeerent screen size */
@media(max-width: 768px) {
    #headerID {
        height: 45vh;
    }
}

/* Cards styling */
.Cards {
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #cacaca,
        -10px -10px 20px #f6f6f6;
    height: fit-content;
    font-size: 18px;
    animation: scrollAnim ease-in-out alternate;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

    .img-fluid {
        border-radius: 40px;
    }

    .Card-heading {
        font-size: xx-large;
        font-weight: 700;
    }
}

/* Cards animation */
@keyframes scrollAnim {
    from{
        opacity: 0;
        scale: 0;
        transform: translateY(100px)
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}

/* Cards text alignment for Large screen */
@media(min-width: 768px) {
    .card-row1 {
        height: 40%;
    }

    .card-row2 {
        height: 60%;
    }
}

/* Cards text alignment for Small screen */
@media(max-width: 768px) {
    .card-row1 {
        height: 35%;
    }

    .card-row2 {
        height: 65%;
    }
}

/* Small image not taking full width Fix */
.img-fluid.resize{
    width: 100%;
}